<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Information</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br/>
    <strong>Roles:</strong> {{info.authorities}}<br />
  </p>
  <button class="btn btn-secondary mx-1" (click)="logout()">Logout</button>
  <button class="btn btn-secondary bg-danger border-0 mx-1" (click)="delete()" *ngIf="info.userId">Delete</button>
  <!-- <button class="btn btn-secondary bg-danger border-0 mx-1" (click)="delee()" *ngIf="info.authorities == 'ROLE_ADMIN'">Delete</button> -->
</div>
 
<ng-template #loggedOut>
  Please login.
</ng-template>
