<section id="blog-posts" class="overflow-h">
    <div class="row">
        <div class="col-md pl-0">
            <div class="card bg-dark text-light overlay overlay-b-3 border-0">
                <picture>
                    <img srcset="../../assets/images/welcome/blog-post-800x400-1.jpg" alt="responsive image" class="card-img img-fluid">
                </picture>
                <div class="card-img-overlay text-center mt-4">
                    <h4 class="card-title">Hello {{username}}, Welcome to your social network Groupomania</h4>
                    <div class="card-text">
                        <p>Get started reading last article and share your opinion to others</p>
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active" routerLink="/user">Read news</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>
