@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

h4, .card-text {
    color: #2c2ad7e3;
    font-family: 'Lora', serif;
}

a {
    color: #2015e0;
    font-weight: 700;
}