@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

h4, .card-text {
    font-family: 'Lora', serif;
    color: #04fdc4;
    font-weight: revert
}

.card-img {
    filter: brightness(0.5);
}

a {
    color: #11ea03;
    font-weight: 700;
}

@media (max-width: 768px) { 
    p {
        display: none;
    }
}
