<div *ngIf="isSignedUp; else signupForm">
    <div class="d-flex justify-content-center py-5 my-5">
      <div class="card border-success mb-3 py-5">
        <div class="card-body text-success">
          <h5 class="card-title">Account created!</h5>
          <p class="card-text">Your registration is successful. Please login!</p>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #signupForm>
    <div class="row py-5">
      <div class="col-md"></div>
      <div class="col-md-6">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" id="name" required />
            <div *ngIf="f.submitted && name.invalid">
              <div *ngIf="name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
             id="username" required />
            <div *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" id="email" required/>
            <div *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
             id="password" required minlength="6" />
            <div *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Password is required</div>
              <div class="text-danger" *ngIf="password.errors.minlength">*Password must be at least 8 characters, at least 1 lowercase alphabetical character, at least 1 uppercase alphabetical character, at least 1 numeric character, at least one special character [!@#$%^&*]

              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Register</button>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
              Signup failed!<br/>{{errorMessage}}
            </div>
          </div>
        </form>
      </div>
      <div class="col-md"></div>
    </div>
  </ng-template>
