<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="card">
                <div class="form-group card-header h6 mt-0">
                    <label for="title">Create Post</label>
                    <input type="text" class="form-control" name="title" [(ngModel)]="form.title" #title="ngModel" required/>
                    <div *ngIf="f.submitted && title.invalid">
                        <div *ngIf="title.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="form-group card-body">
                    <label for="content">Content</label>
                    <textarea type="text" class="form-control beautify-textarea" id="content" name="content" [(ngModel)]="form.content" #content="ngModel" placeholder="Write something here or upload image ..." required *ngIf="!imageURL"></textarea>
                    <!-- Image Preview -->
                    <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                        <img [src]="imageURL" class="img-responsive">
                    </div>
                </div>
                <div class="form-group card-footer pb-0 mb-0">
                    <button class="btn btn-primary">Submit</button>
                    <!-- Select File -->
                    <button class="btn btn-success" type="button" (click)="filePicker.click()">Image</button>
                    <input type="file" #filePicker accept="image/*" name="file" [(ngModel)]="form.file" #file="ngModel" (change)="showPreview($event)" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row mt-5">
    <div class="col-lg-3"></div>
    <div class="col-lg d-flex justify-content-center">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          responsive="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card mt-2" *ngFor="let blog of allBlogs | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          };
          ; index as i">
            <div class="card-header h6 ">
                {{ blog.title }}
            </div>
            <!-- CARD BODY SECION IS DYNAMIC-->
            <div class="card-body pb-0 ">
                <div class="make-center beautify-post " *ngIf="blog.content">
                    {{ blog.content }}
                </div>
                <div class="make-center beautify-post " *ngIf="blog.imageUrl">
                    <img [src]="blog.imageUrl " alt=" " class="img-responsive ">

                </div>

                <div class="d-flex justify-content-between ">
                    <span class="text-muted badge-light rounded p-1 " style="font-size: small; ">
                        {{ blog.likes}} Like(s)
                    </span>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-between pb-1 ">
                <div>
                    <div #blogId class="like-buttons" [attr.data-id]="blog.id">
                        <div class="likes">
                          <i class="like fa-thumbs-up fa-lg far" (click)="onLike(blogId)"></i>
                        </div>
                        <div class="dislikes">
                          <i class="dislike fa-thumbs-down fa-lg far" (click)="onDislike(blogId)"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <button style="cursor: pointer " class="text-light badge badge-pill badge-danger ml-1" *ngIf="authorities == 'ROLE_ADMIN'" (click)="delete(blogId)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 "></div>
</div>
<div class="row my-5">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 font-weight-bold d-flex justify-content-center">
        <span class="border border-dark rounded">Items per Page:</span> 
        <select (change)="handlePageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
    </div>
    <div class="col-lg-3"></div>
</div>

