<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="welcome">Groupomania</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="user">User Board</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li *ngIf="authority === 'pm'" class="nav-item">
        <a class="nav-link" routerLink="pm">PM Board</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
    <footer class="py-5 mt-2" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-sm-6 col-md-12">
                  <h4>Navigation</h4>
                  <nav class="nav d-flex flex-column">
                    <a class="nav-link" href="#">About</a>
                    <a class="nav-link" href="#">Services</a>
                    <a class="nav-link" href="#">Blog</a>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <h4 class="mt-4 mt-md-0" id="contact">Contact Us</h4>
              <div class="row">
                <div class="col-sm-5">
               
                  <div itemscope="" itemtype="">
                    <a itemprop="url" href="">
                      <div itemprop="name"><strong>Company</strong></div>
                    </a>
                    <div itemprop="description"><em>Design + Development + Marketing</em></div>
                    <br>
                    <div itemprop="address" itemscope="" itemtype="">
                      <span itemprop="streetAddress">12345 Street Address</span>,
                      <br>
                      <span itemprop="addressLocality">City Name</span>,
                      <br>
                      <span itemprop="addressRegion">State</span>, <span itemprop="postalCode">Postcode</span>
                      <br>
                      <span itemprop="addressCountry">France</span>.
                      <br>
                    </div>
                    <strong>Call : </strong><span itemprop="telephone"><a href="tel:033 54 54 34 54">(33)
                        5342564265</a></span>
                    <br>
                  </div>
                </div>
                <div class="col-md-7">
                  <form class="mt-4 mt-md-0">
                    <div class="form-group">
                      <label for="formGroupExampleInput" class="sr-only">Name</label>
                      <input type="text" class="form-control bg-faded-4" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput" class="sr-only">Email</label>
                      <input class="form-control bg-faded-4" type="email" value="" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput" class="sr-only">Message</label>
                      <textarea class="form-control bg-faded-4" id="message" rows="3" placeholder="Message"></textarea>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="spam">
                      <label class="custom-control-label" for="spam">Are you a human?</label>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-sm mt-2">Send Message</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <p class="mt-5">
          </p>
          <hr class="bg-faded-3">
          <small class="text-light">
            Your Company <a href="#" class="text-light">Privacy</a> · <a href="#" class="text-light">Terms</a>
          </small>
          <p></p>
        </div>
    </footer>

