#footer {
    background-color: #0b0b0b;
    color: #808080;
  }
  
  #footer a,
  #footer a:hover,
  #footer a:active {
    color: #ccc;
  }
  
  #footer .nav-link:hover {
    text-decoration: underline;
  }
  
  footer .form-control {
    border:none;
  }
  
  .bg-faded-3 {
    background-color: #585d5f;
  }