<footer class="py-5 mt-2" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-sm-6 col-md-12">
              <h4>Navigation</h4>
              <nav class="nav d-flex flex-column">
                <a class="nav-link" routerLink="home-content">About</a>
                <a class="nav-link" routerLink="home-content">Services</a>
                <a class="nav-link" routerLink="/user" *ngIf="authority">Blog</a>
                <a class="nav-link" routerLink="home-content" *ngIf="!authority">Blog</a>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <h4 class="mt-4 mt-md-0" id="contact">Contact Us</h4>
          <div class="row">
            <div class="col-sm-5">
           
              <div itemscope>
                <a itemprop="url" routerLink="home-content">
                  <div itemprop="name"><strong>Groupomania</strong></div>
                </a>
                <div itemprop="description"><em>Design + Development + Marketing</em></div>
                <br>
                <div itemscope>
                  <span itemprop="streetAddress">12345 Street Address</span>,
                  <br>
                  <span itemprop="addressLocality">City Name</span>,
                  <br>
                  <span itemprop="addressRegion">State</span>, <span itemprop="postalCode">Postcode</span>
                  <br>
                  <span itemprop="addressCountry">France</span>.
                  <br>
                </div>
                <strong>Call : </strong><span itemprop="telephone"><a href="tel:033111111111">+33-1-11-11-11-11</a></span>
                <br>
              </div>
            </div>
            <div class="col-md-7">
              <form class="mt-4 mt-md-0">
                <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  <input type="text" class="form-control bg-faded-4" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input class="form-control bg-faded-4" type="email" value="" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="message" class="sr-only">Message</label>
                  <textarea class="form-control bg-faded-4" id="message" rows="3" placeholder="Message"></textarea>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="spam">
                  <label class="custom-control-label" for="spam">Are you a human?</label>
                </div>
                <button type="submit" class="btn btn-secondary btn-sm mt-2">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <p class="mt-5">
      </p>
      <hr class="bg-faded-3">
      <small class="text-light">
        <a href="#" class="text-light">Privacy</a> · <a href="#" class="text-light">Terms</a>
      </small>
      <p></p>
    </div>
</footer>
